.crew-items {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
@media (max-width : 650px) {
    .crew-items {
        flex-direction: column;
        margin-bottom: 15px;
    }  
}
.crew-items img {
    width: 120px;
    height: 180px;
    margin-right: 20px;
    border-radius: 4px;
}
@media (max-width : 650px) {
    .crew-items img {
        width: 80px;
        height: 140px;
    }  
}
@media (max-width : 650px) {
.crew-items .info h4 {
   font-size: 15px !important; 
}
}