.search {
    padding-top: 100px;
    margin-bottom: 80px;
    padding-left: 40px;
    margin-right: 40px;
    color: white;
}
.search .search-result {

}
.search .search-result span {
    color: var(--main-color);
    font-weight: bold;
    font-style: italic;
}
.search .search-movies {
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    margin-top: 30px;
    gap: 10px;
}
@media (max-width : 1400px) {
    .search .search-movies {
        grid-template-columns: repeat(6 , 1fr);
    }
}
@media (max-width : 1200px) {
    .search .search-movies {
        grid-template-columns: repeat(5 , 1fr);
    }
}
@media (max-width : 1000px) {
    .search .search-movies {
        grid-template-columns: repeat(4 , 1fr);
    }
}
@media (max-width : 800px) {
    .search .search-movies {
        grid-template-columns: repeat(3 , 1fr);
    }
}
@media (max-width : 500px) {
    .search .search-movies {
        grid-template-columns: repeat(2 , 1fr);
    }
}
